# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json

client/src/contracts/Election.json
client/src/contracts/Migrations.json
client/build/asset-manifest.json
client/build/favicon.png
client/build/index.html
client/build/static/css/main.4c531917.chunk.css
client/build/static/css/main.4c531917.chunk.css.map
client/build/static/js/2.ed81d9a1.chunk.js
client/build/static/js/2.ed81d9a1.chunk.js.LICENSE.txt
client/build/static/js/2.ed81d9a1.chunk.js.map
client/build/static/js/main.65533d2a.chunk.js
client/build/static/js/main.65533d2a.chunk.js.map
client/build/static/js/runtime-main.03887cff.js
client/build/static/js/runtime-main.03887cff.js.map
